<!DOCTYPE html>
<html lang="br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verificar CPF</title>
  </head>
  <body>
    <style>
      * {
        margin: 0;
        padding: 0;
        border: 0;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg, #58cf48, #65c52d, #046a34) no-repeat;
        height: 100vh;
      }
      .container {
        border: 3px #000 solid;
        border-radius: 10px;
        padding-bottom: 10px;
      }
      form , div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 10px 0px 10px
      }
      form, div, input{
        border:none;
        background-image:transparent;
        background-color:transparent;
        box-shadow: none;
      }
      #number{
        border: 1px #000 solid;
        margin-bottom: 5px;
      }
      #verificar{
        border: 1px #000 solid;
        background-color: #046a3459;
      }
    </style>
    <div class="container">
      <div>
        <form method="GET" action="/verificar-cpf">
          <h1>Informe o CPF</h1>
          <input id="number" type="number" name="cpf" min="0" max="99999999999" placeholder="apenas numeros"/>
          <input id="verificar" type="submit" value="verificar" />
        </form>
      </div>
      {{#mostrar}}
        {{#cpfValidacao}}
          <div>
            <h2>CPF: {{cpfString}}</h2>
            <h2>Região Fiscal: {{regiaoFiscal}}</h2>
            <h2>CPF VÁLIDO</h2>
          </div>
        {{/cpfValidacao}}
        {{^cpfValidacao}}
          <div>
            <h2>CPF: {{cpfString}}</h2>
            <h2>CPF NÃO VÁLIDO</h2>
          </div>
        {{/cpfValidacao}}
      {{/mostrar}}
    </div>
  </body>
</html>
